<!DOCTYPE html>
<html>
  <head>
    <title>Playlister</title>
    <style>
      .message {
        background: #00ee00; 
        padding: 5px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>